<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=KoHo|Titillium+Web" rel="stylesheet">
  <title><%=title%></title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <% nav.forEach(n=> { %>
        <a href="<%=n.link%>"><%=n.title%></a>
      <%})%>
    </nav>
    <input type="search">
  </header>
  <main>
    <div class="masthead">
      <h1><%=title%></h1>
    </div>
    <div class="display">
      <figure>
        <img src="<%=book.details.image_url%>">
        <figcaption>
          <a href="<%=book._id%>">
          <h2><%=book.title%></h2>
          <p><%-book.details.description%></p>
          </a>          
        </figcaption>
      </figure>
    </div>
  </main>
</body>
</html>